.form-control {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 10px;
    gap: 30px;
}

.form-control__label {
    margin-top: 6px;
}

.form-control__inputs {
    display: flex;
    gap: 5px;
    grid-column-start: 2;
}

.form-control__inputs_col {
    flex-direction: column;
}